@plugin "tailwindcss-animate";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
	font-family: "BerlinTypeWeb";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url("@/fonts/BerlinTypeWeb-Regular.woff2") format("woff2"),
		url("@/fonts/BerlinTypeWeb-Regular.woff") format("woff");
}

@theme {
	--font-display: "BerlinTypeWeb", sans-serif;
	--font-arial: "Arial", sans-serif;
	--breakpoint-md: 37.5rem;
	--breakpoint-lg: 61.25rem;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-red: #e40422;
	--color-blue: #253276;
	--color-errorRed: #000000;
	--color-blue-light: #049fe1;
	--color-green: #15846e;
	--color-grey: #f5f5f5;
	--color-grey-dark: #dddddd;
	--color-grey-darkest: #333333;
	--color-tabfocus: #0076dd;
	--color-border: #dddddd;
	--color-border-light: #eaeaea;
	--color-hr: #dddddd;
	--color-decorative-primary: #e40422;
	--color-decorative-secondary: #000000;
	--color-decorative-tertiary: #000000;
	--color-decorative-light: #ffffff;
	--color-decorative-positive: #15846e;
	--color-decorative-destructive: #d52f2e;
	--color-text-base: #000000;
	--color-text-negative: #ffffff;
	--color-text-lightest: #454545;
	--color-text-link: #0047d3;
	--color-text-disabled: #737373;
	--color-text-error: #9b0000;
	--color-text-success: #3f6b25;
	--color-block-light: #ffffff;
	--color-block-heavy: #f5f5f5;
	--color-block-dark: #000000;
	--color-block-colored: #f5f5f5;
	--color-block-footer: #f5f5f5;
	--color-object-panel: #e8edf2;
	--color-message-default: #f9f4e4;
	--color-message-success: #e2f1eb;
	--color-message-info: #ebf1f7;
	--color-message-error: #fdecee;
	--color-menu-background: #f2f2f2;
	--color-menu-background-dark: #e5e5e5;
	--color-block-seperationheading: #f5f5f5;
	--color-block-seperationheading-dark: #dddddd;
	--color-zebra-odd: #f5f5f5;
	--color-zebra-even: #fcfcfc;

	--shadow-default: 0 0 5px 1px rgba(23, 111, 193, 0.3);
	--shadow-default-black: 0 0 5px 1px rgba(0, 0, 0, 0.25);

	/* Define the shorthand that will drive the utility class */
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@layer base {
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		font-family: var(--font-arial);
		font-feature-settings:
			"rlig" 1,
			"calt" 1;
	}
}
